<h1>Add a Video</h1>

<%= form_for @video do |f| %>

  <% if @video.errors.present? %>
    <div class="errors">
      <% @video.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
    <br>
  <% end %>
  <table id="video_form">
    <tr>
      <td>
        <%= f.label :url, text = 'URL of Video' %>
      </td>
      <td class="wide">
        <%= f.text_field :url %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :description, text = 'Short Description' %>
      </td>
      <td class="wide">
        <%= f.text_area :description %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :rating %>
      </td>
      <td>
        <%= f.text_field :rating %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.submit %>
      </td>
    </tr>
  </table>
<% end %>
