<div id="content_container">
  <div class="full_column" id="notice">
      <% flash.each do |_, msg| -%>
        <%= msg %>
      <% end -%>
    <div class="resetColumnSet"></div>
  </div><!--end full_column-->
  <div class="one_third" id="left_side">
    <img src="<%= @picture.url %>" class="thumbnail">

    <p>Rating: <%= @picture.rating %> out of 5</p>
  </div>
  <div class="one_third" id="right_side">
    <p><a href="<%= @picture.url %>"><%= @picture.url %></a></p>

    <p><%= @picture.description %></p>
  </div>
  <div class="resetColumnSet"></div>
</div><!--end content_container-->